        h1{
font-weight:bold;
font-size:50px;
display:flexbox;
text-align:center;
background-color:lightcyan;
width:70%;
border-radius:50px;
margin:auto;
}
li{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
font-family:'Courier New', Courier, monospace;
}
body{
background-color:lightblue;

}
nav{
    background-color:white;
    text-align:center;
    align-items:center;
    color:blue;
    font-size:20px;
    text-decoration-line:underline;
    border-radius:500px;
    width:50%;
    margin:auto;
}
.img{
    align-items:center;
}